.logo
{
 width: 40%;
}

.btn-primary
{
	background-color: #22609c !important;
	border-color: #0562f3 !important;
	color: white !important;
}
  

.accordion_header
{
	background-color: #545454;
	/* background-color: #22609c; */
	color: white !important;
	cursor: pointer;
}

.nav-pills .nav-link.active
{
	color: white;
	background-color: #22609c;
	
}

.btn-success
{
	color:white !important;
	background-color: rgb(59, 126, 59) !important;
}

legend
{
	font-size: 1em;
}