@font-face {
    font-family: myFirstFont;
    src: url('../fonts/PALSCRI.TTF');
  }
  
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/PALSCRI.TTF');
    font-weight: bold;
  }


/* .site-navbar .site-logo
{
    font-family: myFirstFont !important;
} */

.logo
{
 width: 40%;
}

.btn-primary
{
	background-color: #22609c !important;
	border-color: #0562f3 !important;
	color: white !important;
}
  

.accordion_header
{
	background-color: #545454;
	/* background-color: #22609c; */
	color: white !important;
	cursor: pointer;
}

.nav-pills .nav-link.active
{
	color: white;
	background-color: #22609c;
	
}

.btn-success
{
	color:white !important;
	background-color: rgb(59, 126, 59) !important;
}

legend
{
	font-size: 1em;
}

button.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    font-size: 20px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.image-size
{
    width: 100%;
    height: 400px;
}